*{
    margin:0;
    padding:0;
    box-sizing: padding-box;
    text-align: center;
}
.header{
    background: #3FAA96;
    color: aliceblue;
    height:45px;
/*    margin-bottom: 50px;*/
}
.header-item{
    padding: 0 20px;
    margin: 10px 0;
}
.header-logo{
    float:left;
    line-height: 25px;
    border-right:aliceblue 2px solid;
}
.header-team{
    float:left;
    line-height: 25px;
}

.scene{
    background: #FFF0E3;
}

.rule-info{
    text-align: left;
    margin: 20px;
}
.rule-info li{
    list-style: none;
    width: 555px;
    margin: 10px auto;
    text-align: left;
    line-height: 1.5em;
}
.rule-info li img{
    float: left;
}
.rule-info li div{
    margin: 0 0 0 70px;
    text-align: left;
}

.game-start{
    color: #764143;
    text-align: center;
    padding-bottom: 100px;
}
.game-start h1{
    padding-top: 50px;
    font-size: 45px;
}
.game-start p{
    font-size: 15px;
    padding-top: 50px;
    line-height: 1.5em;
}
.game-start input[type=text]{
    line-height: 40px;
    font-size: 19px;
    margin-top: 30px;
    border: #764143 solid 2px;
    border-radius: 20px;
    -o-border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius: 20px;
    width: 40%;
}
.game-start input[type=submit]{
    display: block;
    margin: 20px auto;
    padding: 5px 30px;
    font-size: 17px;
    border-radius: 20px;
    -o-border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius: 20px;
    color: white;
    background: #DB534B;
    border: #FBA9A9 solid 2px;
}

.triangle{
    width: 72px;
    height: 36px;
    background: url("../img/triangle.png") no-repeat 50% 50% ;
    margin:0 auto;
    margin-top: -10px;
}
.question-set{
    
}
.question-content{
    padding:20px 0;
    background: #3FAA96;
    color: white;
    border-bottom: #486e74 solid 10px;
}


.options{
    width: 100%;
    position: relative;
    overflow: hidden;
}
@media screen and (max-width: 768px) {
    .question-content{
        border-bottom: #486e74 solid 20px;
    }
    .triangle{
        margin-top: -20px;
    }
    .img-sm{
        display: none;
    }
    .option{
        clear: both;
        width: 320px;
        text-align: right;
        margin: auto;
        position: relative;
        margin-top:20px;
    }
    .option:after{
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    .option-img{
        float:left;
    }
    .option:after{
        overflow:auto;
    }
    .option-text{
        position: absolute;
        top:40px;
        right: 0;
    }
    .option-effect{
        color: black;
        text-decoration: none;
        font-size: 13px;
        position: absolute;
        right: 0;
        width:150px;
        top:80px
    }
    .db-badge{
        display: none;
    }
    
}
@media screen and (min-width: 768px) {
    .question-content{
        border-bottom: #486e74 solid 10px;
    }
    .triangle{
        margin-top: -10px;
    }
    .img-lg{
        display: none;
    }
    .options{
        display: table;
    }
    .option{
        display: table-cell;
        height: 444px;
        position: relative;
    }
    .option-effect{
        position: absolute;
        top: 450px;
        width: 100%;
        color:black;
    }
    .option-img{
    }
    .option-img img{
/*        width: 100%;*/
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%); 
        right: 0;
    }
    .option-text{
        top: 400px;
        position: absolute;
        right: 0;
        left: 0;
    }
    .street-dashboard{
        width: 100%;
    }
    .bg-space{
        float: left;
    }
    .badge{
        float: left;
    }
    .db-warning{
        left: 0;
        top: 63px;
        position:absolute;
    }
    .db-score{
        left: 300px;
        top:80px;
    }
}

.db-score{
    position: absolute;
    background: #3FAA96;
    width: 50px;
    color: white;
    padding: 3px 10px;
    text-align: left;
}
.db-score:before{
    content:"$";
    padding-right: 10px;
}
.db-score-number{
    float:right;
}
.db-timebar-wrapper{
    position: absolute;
    left: 500px;
    top: 0;
    height: 100px;
}

.db-timebar{
    position: relative;
    
}
.db-timelayer{
    position: absolute;
    left: 0;
}
.db-time-arrow{
    -webkit-transform: translate(50%, 0); 
    position: absolute;
    top: 50%;
}

.option-text{
    margin: 0 auto;
    background: #DE574B;
    height: 30px;
    line-height: 30px;
    width: 140px;
    border: #FFb2b2 solid 4px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}


a .option-text{
    color: white;
    text-decoration: none;
}
.next{
    margin-top: 100px;
    padding-top: 20px;
    color: white;
    background: #486e74;
    clear: both;
}
.next a:after{
    content: '';
	display: block;  
	margin: 0 auto;
	width: 0;
	height: 20px;
    overflow: hidden;
	border-top: 20px solid white;
	border-right: 20px solid transparent;
	border-left: 20px solid transparent;
}
.answer-set{
    background: #3FAA96;
    color: #eee;
}
.answer-content{
    padding:45px 0 0;
    display: block;
    height: 300px;
}

.answer-info{
    width: 50%;
    float: left;
}
.answer-info-header{
    height: 40px;
}
.answer-score{
    width: 120px;
    height: 100%;
    line-height: 2.2em;
    float: left;
    background: #DB534B;
}
.answer-selection{
    line-height: 2.2em;
    float: left;
    width: 50%;
}
.answer-info-content{
    background: #FFF0E3;
    height: 444px;
    position: relative;
}
.answer-info-content img{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%); 
}
.answer-info-content .option-text{
    top: 440px;
}

.score{
    clear: both;
}

/* Street */
.street {
    position: relative;
}
.street-info{
    position: absolute;
    z-index: 99;
}
.street-stage{
    overflow: hidden;
    position:absolute;
}
.street-stage>div{
    position:absolute;
}
.street-background{
    background: #FFF0E3;
}
.person-token{
    position: absolute;
    top: -40px;
    left: 30px;
}
.street-master{
}
.street-master img{
}
.street-customers{
    pointer-events: none;
}
.person {
    position: absolute;
}
.street-dashboard-wrapper{
    position: absolute;
}
.street-dashboard{
    position: relative;
    width: 600px;
}
.bg-space{
    background: url(../img/circle.png);
    width: 63px;
    height: 66px;
/*    float: left;*/
}
.badges{
    position: absolute;
    top: 0;
}
.badge{
/*    float: left;*/
}
.badge img{
    width: 63px;
}
.pause-button{
    position: fixed;
    z-index: 999;
    bottom:0;
    right: 0;
    background: url("../img/menu.png") no-repeat ;
    width: 65px;
    height: 65px;
}
.pause-menu{
    position: fixed;
    left: 50%;
    top: 50%;
    border-radius: 3px;
    -webkit-transform: translate(-50%, -50%); 
    background: #dbd0b3;
    padding: 10px 20px;
}
.pause-menu li{
    font-size: 20px;
    margin: 10px 0;
    border-radius: 3px;
    padding: 20px;
    list-style: none;
    background: #FFF0E3;
/*    border: #dbd0b3 1px solid;*/
}
.pause-menu li:hover{
    color: white;
    background: #3FAA96;
}

/* ending */
.select-question{
    background: #3FAA96;
    border-top: aliceblue 1px solid;
    color: aliceblue;
    height:45px;
    line-height: 45px;
    width: 40%;
    float: left;
    clear: both;
}
.select-answer{
    height:45px;
    line-height: 45px;
    border-top: black 1px solid;
}

.select-effectInfo{
    color: #DE574B;
}


.introjs-prevbutton,.introjs-disabled{
    display: none;
}