*{
    margin:0;
    padding:0;
    box-sizing: padding-box;
    text-align: center;
}
.header{
    background: #ccc;
    height:25px;
/*    margin-bottom: 50px;*/
}
.header-logo{
    float:left;
    line-height: 25px;
}
.header-team{
    float:right;
    line-height: 25px;
}

.scene{
    background: #FFF0E3;
}

.game-start{
    text-align: center;
    padding-bottom: 100px;
}
.game-start h1{
    padding-top: 50px;
}
.game-start p{
    padding-top: 50px;
    line-height: 1.5em;
}
.game-start input{
    font-size: 20px;
    margin-top: 30px;
}

.triangle{
    width: 72px;
    height: 36px;
    background: url("../img/triangle.png") no-repeat 50% 50% ;
    margin:0 auto;
    margin-top: -10px;
}
.question-set{
    
}
.question-content{
    padding:20px 0;
    background: #3FAA96;
    color: white;
    border-bottom: #486e74 solid 10px;
}


.options{
    width: 100%;
}
@media screen and (max-width: 768px) {
    .question-content{
        border-bottom: #486e74 solid 20px;
    }
    .triangle{
        margin-top: -20px;
    }
    .img-sm{
        display: none;
    }
    .option{
        clear: both;
        width: 320px;
        text-align: right;
        margin: 0 auto;
        position: relative;
        margin-top:20px;
    }
    .option-img{
        float:left;
    }
    .option:after{
        overflow:auto;
    }
    .option-text{
        position: absolute;
        top:40px;
        right: 0;
    }
    
}
@media screen and (min-width: 768px) {
    .question-content{
        border-bottom: #486e74 solid 10px;
    }
    .triangle{
        margin-top: -10px;
    }
    .img-lg{
        display: none;
    }
    .option{
        float: left;
        width: 30%;
        height: 400px;
        margin-right: 10px;
        text-align: center;
    }
    .option-img{
        width: 100%;
        height: 350px;
        margin: 0 auto;
        text-align: center;
    }
}

.option-text{
    margin: 0 auto;
    background: #DE574B;
    height: 30px;
    line-height: 30px;
    width: 140px;
    border: #FFb2b2 solid 4px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
a .option-text{
    color: white;
    text-decoration: none;
}
.next{
    margin-top: 100px;
    padding-top: 20px;
    color: white;
    background: #486e74;
}
.next:after{
    content: "";
}
.score{
    clear: both;
}

