*{
    margin:0;
    padding:0;
    box-sizing: padding-box;
    text-align: center;
}
a{
    color: aliceblue;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.header{
    background: #3FAA96;
    color: aliceblue;
    height:45px;
/*    margin-bottom: 50px;*/
}
.header-item{
    padding: 0 20px;
    margin: 10px 0;
}
.header-logo{
    float:left;
    line-height: 25px;
    border-right:aliceblue 2px solid;
}
.header-team{
    float:left;
    line-height: 25px;
}
body{
    background: #3FAA96;
}
.scene{
    background: #FFF0E3;
}

.rule-info{
    text-align: left;
    margin: 20px;
}
.rule-info li{
    list-style: none;
    width: 555px;
    margin: 10px auto;
    text-align: left;
    line-height: 1.5em;
}
.rule-info li img{
    float: left;
}
.rule-info li div{
    margin: 0 0 0 70px;
    text-align: left;
}

.game-start{
    color: #764143;
    text-align: center;
    padding-bottom: 100px;
    position: relative;
}
.game-start h1{
    padding-top: 50px;
    font-size: 45px;
}
.game-start p{
    font-size: 15px;
    padding-top: 50px;
    line-height: 1.5em;
}
.game-start input[type=text]{
    line-height: 40px;
    font-size: 19px;
    margin-top: 30px;
    border: #764143 solid 2px;
    border-radius: 20px;
    -o-border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius: 20px;
    width: 40%;
    outline: none;
}
.game-start input:focus[type=text]{
    box-shadow: inset 0 0 3px 2px #f90; /* provides a more style-able replacement to the outline */
}
.game-start input[type=submit]{
    display: block;
    margin: 20px auto;
    padding: 5px 30px;
    font-size: 17px;
    border-radius: 20px;
    -o-border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius: 20px;
    color: white;
    background: #DB534B;
    border: #FBA9A9 solid 2px;
}


.triangle{
    width: 72px;
    height: 36px;
    background: url("../img/triangle.png") no-repeat 50% 50% ;
    margin:0 auto;
    margin-top: -10px;
}
.question-set{
    
}
.question-content{
    padding:20px 0;
    background: #3FAA96;
    color: white;
    border-bottom: #486e74 solid 10px;
}


.options{
    width: 100%;
    position: relative;
    overflow: hidden;
}
@media screen and (max-width: 768px) {
    .question-content{
        border-bottom: #486e74 solid 20px;
    }
    .triangle{
        margin-top: -20px;
    }
    .img-sm{
        display: none;
    }
    .option{
        clear: both;
        width: 320px;
        text-align: right;
        margin: auto;
        position: relative;
        margin-top:20px;
    }
    .option:after{
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    .option-img{
        float:left;
    }
    .option:after{
        overflow:auto;
    }
    .option-text{
        position: absolute;
        top:40px;
        right: 0;
    }
    .option-effect{
        color: black;
        text-decoration: none;
        font-size: 13px;
        position: absolute;
        right: 0;
        width:150px;
        top:80px
    }
    .answer-title{
        width:auto;
    }
    .answer-section-title{
/*        width: 100%;*/
    }
    .img-answer-a2-img,
    .img-answer-a3-img,
    .img-answer-a4-img{
        transform: scale(0.5);
        transform-origin: left top;
    }
    .street-dashboard,
    .street-dashboard-wrapper{
        width: 100%;
    }
    .street-dashboard{
        background: #3FAA96;
        height: 50px;
    }
    .street-background{
        background: url(../img/game/background-rwd.png) repeat-x 0 0;
    }
    .db-score{
        top: 50px;
        height: 30px;
        line-height: 30px;
        left: 0;
        background: #486e74;
        border-bottom-right-radius: 5px;
    }
    .db-badge{
        /*display: none;*/
    }
    .db-sunny{
        position:absolute;
        left: 10px;
        top: 10px;
    }
    .db-moon{
        position:absolute;
        right: 10px;
        top: 10px;
    }
    .db-time-bar{
        position: absolute;
        height: 26.5px;
        width: 210px;
        top: 0;
        left: 76px;
    }
    .db-time-white{
        border-bottom: 3px white solid;
    }
    .db-time-yellow{
        border-bottom: 3px #F7D767 solid;
    }
    .db-warning{
        font-weight: bold;
        position: absolute;
        right: 10px;
        top: 56px;
        color: darkred;
        font-size: 23px;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-name: timelayer-animate;
        animation-name: timelayer-animate;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }
    @-webkit-keyframes timelayer-animate{
        from {
          opacity: 1;
        }
        50%{
          opacity: 0;
        }

        to {
          opacity: 1;
        }
    }
    @keyframes timelayer-animate{
        from {
          opacity: 1;
        }
        50%{
          opacity: 0;
        }

        to {
          opacity: 1;
        }
    }
    .db-timelayer img{
        display: none;
    }
    .bg-space-wrapper{
        position: absolute;
        top: 20px;
        left: 60px;
    }
    .bg-space{
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 3px white solid;
        box-sizing: border-box;
        background: #3FAA96;
    }
    .bg-space img{
        display: none;
    }
    .badges{
        position:absolute;
        top:20px;
        left:60px;
    }
    .badge{
        background: url(../img/game/progress-yellow.png);
    }
    .badge, .bg-space{
        width: 16px;
        height: 16px;
        float: left;
        margin-right: 22px;
    }
    .badge img{
        display: none;
    }
    .select-list {
        margin: 20px 10px;
    }
    .select-item>div {
        height: 45px;
        line-height: 45px;
    }
    .select-question{
        float: left;
    }
    .select-answer{
        float: right
    }
    .select-effectInfo{
        clear: both;
        margin: 0 10px;
    }
    .select-item>div.select-effectInfo{
        height: auto;
    }
    .btn-result.btn-share {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }
    .result-menu{
        width: 100%;
    }
    .btn-result {
        width: 100%;
        box-sizing: border-box;
        margin: 10px 0;
    }
    result-menu:after {
        clear: both;
        margin: 2px;
        content: " ";
    }
}
@media screen and (min-width: 768px){
    .question-content{
        border-bottom: #486e74 solid 10px;
    }
    .triangle{
        margin-top: -10px;
    }
    .img-lg{
        display: none;
    }
    .options{
        display: table;
    }
    .option{
        display: table-cell;
        height: 444px;
        position: relative;
    }
    .option-effect{
        position: absolute;
        top: 390px;
        color:black;
        font-size: 15px;
        border: 1px solid black;
        background: white;
        width: 140px;
        left: 50%;
        padding: 5px;
        transform: translate(-50%, 0); 
        -o-transform: translate(-50%, 0); 
        -ms-transform: translate(-50%, 0); 
        -moz-transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0); 
    }
    .option-img{
    }
    .option-img img{
/*        width: 100%;*/
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        -o-transform: translate(-50%, -50%); 
        -ms-transform: translate(-50%, -50%); 
        -moz-transform: translate(-50%, -50%); 
        -webkit-transform: translate(-50%, -50%); 
        right: 0;
    }
    .option-text{
        position: absolute;
        right: 0;
        left: 0;
        bottom: 60px
    }
    .street-background{
        background: url(../img/game/background.png) repeat-x 0 0;
    }
    .street-dashboard-wrapper{
        width: 100%;
    }
    .street-dashboard{
        background: url(../img/game/top-bar@1x.png) no-repeat 0 0;
        height: 60px;
        width: 902px;
        margin: 0 auto;
    }
    .answer-title{
        width: 380px;
    }
    .answer-info{
        width: 360px;
        float: left;
    }
    .db-badge{
        position: absolute;
        top:10px;
        left: 220px;
    }
    .badges{
        top: 0;
    }
    .bg-space,
    .badge{
        float: left;
        margin-right: 43px;
    }
    .bg-space{
        background: url(../img/game/step-circle@1x.png) no-repeat 0 0;
        width: 63px;
        height: 94px;
        position: relative;
    /*    float: left;*/
    }
    .bg-space img{
        left: 23px;
        top: 66px;
        position: absolute;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-name: warning-point;
        animation-name: warning-point;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }
    @-webkit-keyframes warning-point{
        from {
          top: 66px;
        }
        50%{
          top: 76px;
        }

        to {
          top: 66px;
        }
    }
    @keyframes warning-point{
        from {
          top: 66px;
        }
        50%{
          top: 76px;
        }

        to {
          top: 66px;
        }
    }
    .db-score{
        top: 20px;
    }
    .db-sunny{
        position: absolute;
        top: 10px;
        left:-45px
    }
    .db-moon{
        top: 10px;
        right: -40px;
        position: absolute;
    }
    .db-timebar-wrapper{
        position: absolute;
    }
    .db-time-bar{
        position: absolute;
        left: 63px;
        height: 30px;
        border-bottom: white 5px solid;
    }
    .db-time-white{
        width: 575px;
        border-bottom: white 5px solid;
    }
    .db-time-yellow{
        border-bottom: #F7D767 5px solid;
    }
    .db-warning{
        display: none;
        position: absolute;
    }
    
    .answer-content{
        float: left;
        width: 560px;
        
    }
    .final-layout-left{
        height: 600px;
        float: left;
        width: 35%;
    }
    .final-layout-right{
        box-sizing: border-box;

        float: left; 
        width: 65%;
    }
    .select-list {
        margin: 20px 0;
    }
    .select-item {
        height: 45px;
        line-height: 45px;
    }

    .select-item>div {
        float: left;
    }
    /* ending */
    .select-question{
        width: 20%;
        clear: both;
        text-align: left;
    }
    .select-answer{
        width: 15%;
        text-align: left;
    }
    .select-effectInfo {
        width: 65%;
    }
    .btn-result{
        width: 170px;
        margin: 5px
    }
}

@media screen and (min-width: 960px){
    .street-dashboard,
    .question,
    .street,
    .answer-information{
        max-width: 960px;
        margin: 0 auto;
    }
    
    
}

/* element */

.ready-btn{
    line-height: 40px;
}
.db-score{
    position: absolute;
    width: 140px;
    color: white;
    padding: 3px 10px;
    text-align: left;
}
.db-score span{
    display: block;
    float: left;
}
.db-score:before{
    padding-right: 10px;
}
.db-score-unit:after{
    content:"$";
    margin-left: 10px;
}
.db-score-number{
    width: 70px;
    margin-left:10px;
    text-align: right;
}
.db-timebar-wrapper{
    top: 0;
    height: 100px;
}

.db-timebar{
    position: relative;
    
}
.db-timelayer{
    position: absolute;
    left: 0;
}
.db-time-arrow{
    transform: translate(50%, 0); 
    -o-transform: translate(50%, 0); 
    -ms-transform: translate(50%, 0); 
    -moz-transform: translate(50%, 0); 
    -webkit-transform: translate(50%, 0); 
    position: absolute;
    top: 50%;
}

.option-text{
    margin: 0 auto;
    background: #DE574B;
    height: 30px;
    line-height: 30px;
    width: 140px;
    border: #FFb2b2 solid 4px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}


a .option-text{
    color: white;
    text-decoration: none;
}

.answer-content{
    margin-top: 15px;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
}
.answer-content *{
    text-align: left;
}
.next{
    text-decoration: none;
    font-size: 25px;
    display: block;
    margin-top: 100px;
    padding-top: 20px;
    color: white;
    background: #486e74;
    clear: both;
}
.next:after{
    content: '';
	display: block;  
	margin: 0 auto;
	width: 0;
	height: 20px;
    overflow: hidden;
	border-top: 20px solid white;
	border-right: 20px solid transparent;
	border-left: 20px solid transparent;
}
.answer-set{
    background: #3FAA96;
    color: #eee;
}



.answer-info-header{
    background: #F28138;
    height: 40px;
}
.answer-score{
    width: 120px;
    height: 100%;
    line-height: 2.2em;
    float: left;
    background: #DB534B;
}
.answer-selection{
    line-height: 2.2em;
    float: left;
    width: 50%;
}
.answer-info-content{
    background: #FFF0E3;
    height: 444px;
    position: relative;
}
.answer-info-content img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%); 
    -o-transform:  translate(-50%, -50%);  
    -ms-transform:  translate(-50%, -50%); 
    -moz-transform:  translate(-50%, -50%); 
    -webkit-transform: translate(-50%, -50%); 
}
.answer-info-content .option-text{
    top: 440px;
}

.score{
    clear: both;
}

/* Street */
.street {
    position: relative;
}
.street-pause{
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}
.street-info{
    position: absolute;
    z-index: 99;
}
.street-stage{
    overflow: hidden;
    position:absolute;
}
.street-stage>div{
    position:absolute;
}
.street-background{
/*    background: #FFF0E3;*/
}
.person-token{
    position: absolute;
    top: -67px;
    left: 23px;
}
.person-mind{
    left: 25px;
}
.person-coin{
    border:#5B3931 1px solid;
    border-radius: 50%;
    width: 30px;
    height:30px;
    position: absolute;
    top: -30px;
    left: 35%;
    opacity: 0;
    background: #F7D767;
    color: white;
    line-height: 1.5em;
    font-size: 21px;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: coin;
    animation-duration: 0.5s;
    animation-name: coin;
}
@keyframes coin{
    from{
        top: 30px;
        opacity: 1;
    }
    99%{
        top: -30px;
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@-webkit-keyframes coin{
    from{
        top: 70px;
    }
    to{
        top: 40px;
    }
}
.street-master{
    height: 160px;
    width: 120px;
    position:relative;
}
.street-master img{
    bottom: 0;
    left: 0;
    position: absolute;
}
.street-master .master-shadow{
    top: 145px;
    left: -50px;
}
.street-master .street-master-arrow{
    position: absolute;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: arrow;
    animation-name: arrow;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    left: 30px;
}
@-webkit-keyframes arrow{
    from {
      top: -60px;
    }
    50%{
      top: -50px;
    }
    
    to {
      top: -60px;
    }
}
@keyframes arrow{
    from {
      top: -60px;
    }
    50%{
      top: -50px;
    }
    
    to {
      top: -60px;
    }
}
.street-customers{
    pointer-events: none;
}
.street-dashboard-wrapper{
    pointer-event: none;
}
.debug-people-area{
    pointer-event: none;
}
.person {
    position: absolute;
}
.street-dashboard-wrapper{
    position: absolute;
}
.street-dashboard{
    position: relative;
}

.badges{
    position: absolute;
}
.badge{
/*    float: left;*/
}
.badge img{
    margin: 3px;
    width: 57px;
}
.pause-button,.ready-btn{
    position: absolute;
    background: #3FAA96;
    z-index: 999;
    bottom:0;
    right: 40px;
/*    background: url("../img/menu.png") no-repeat ;*/
    width: 120px;
    height: 40px;
    color: white;
    padding-top: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.pause-button:before{
    content: "選單";
    font-size: 23px;
}
.pause-button:after{
    content: "\2630";
    font-size: 23px;
    margin-left: 20px;
}
.pause-menu{
    position: fixed;
    left: 50%;
    top: 50%;
    border-radius: 3px;
    transform: translate(-50%, -50%); 
    -o-transform: translate(-50%, -50%);  
    -ms-transform: translate(-50%, -50%);  
    -moz-transform: translate(-50%, -50%); 
    -webkit-transform: translate(-50%, -50%); 
    background: #dbd0b3;
    padding: 10px 20px;
}
.pause-menu li{
    font-size: 20px;
    margin: 10px 0;
    border-radius: 3px;
    padding: 20px;
    list-style: none;
    background: #FFF0E3;
/*    border: #dbd0b3 1px solid;*/
}
.pause-menu li:hover{
    color: white;
    background: #3FAA96;
}






.introjs-prevbutton,.introjs-disabled{
    display: none;
}

/* data */
.data-img{
    float: left;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.img-answer-search{
    width: 60px;
    height: 60px;
    background-image: url(../img/answer/search.png);
}
.img-answer-a1-money{
    margin-right: 20px;
    width: 90px;
    height: 105px;
    background-image: url(../img/answer/a1-money.png);
}
.img-answer-a1-people{
    margin-right: 20px;
    width: 90px;
    height: 105px;
    background-image: url(../img/answer/a1-people.png);
}
.img-answer-a1-home{
    margin-right: 20px;
    width: 90px;
    height: 105px;
    background-image: url(../img/answer/a1-home.png);
}
.img-answer-a2-img{
    width: 474px;
    height: 115px;
    background-image: url(../img/answer/a2-img.png);
}
.img-answer-a2-img2{
    width: 232px;
    height: 173px;
    background-image: url(../img/answer/a2-img2.png);
}
.img-answer-a3-img{
    margin: 0 auto;
    float: none;
    width: 449px;
    height: 274px;
    background-image: url(../img/answer/a3-img.png);
}
.img-answer-a4-img{
    margin: 0 auto;
    float: none;
    width: 308px;
    height: 137px;
    margin-top: 30px;
    background-image: url(../img/answer/a4-img.png);
}

.answer-float-left{
    float: left;
}
.answer-float-right{
    float: right;
}
.answer-content p{
    font-size: 13px;
    line-height: 1.5em;
}
.answer-content h3{
    font-size: 19px;
    line-height: 2em;
}
.answer-section-title{
    position: relative;
}
.answer-section-title p:first-of-type{
    padding-top: 40px;
}
.answer-section-title p:first-of-type:before{
    position: absolute;
    top: 22px;
    left: 60px;
}
.answer-section-title p:first-of-type:before,
p.answer-upper-line:before{
    display: block;
    width: 30px;
    height: 1px;
    content: " ";
    border-bottom: white 2px solid;
}
p.answer-upper-line:before{
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.answer-section p{
/*    float: left;*/
}
.answer-section p.answer-float-left{
    width: 260px;
}
.answer-section-title p{
    font-size: 15px;
    margin-left: 60px
}
.answer-section-title p:not(:first-of-type){
    margin-top: 20px;
}
.answer-bottom-line{
    padding-bottom: 20px;
    border-bottom: white 1px solid;
    margin-bottom: 10px;
    font-size: 19px;
}
.answer-bottom-line:after{
      content: "";
      clear: both;
      display: table;
}
.answer-section{
    padding-top: 10px;
    clear: both;
}
.answer-title{
    padding-top: 10px;
    float: left;
    text-align: left;
}

.final {
    background: #3FAA96;
}
.final-layout-left{
    background: #FFF0E3;
    padding: 20px 0;
}
.final-layout-right{
    padding: 20px 20px;
    color: aliceblue;
}

/* ending */
.select-question{
    text-align: left;
}
.select-answer{
    text-align: left;
}


.select-effectInfo {
    box-sizing: border-box;
    background: #486e74;
    margin:5px 0;
    padding: 5px;
    height: 35px;
    line-height: 25px;
    text-align: right;
}



.btn-result {
    background: #DB534B;
    padding:10px;
    float: left;
}
.btn-result.btn-share{
    float: none;
}
.btn-result a{
    color: aliceblue;
    text-decoration: none;
}
.btn-result a:hover{
    text-decoration: underline;
}

.select-list {
    border-top: 1px solid aliceblue;
    border-bottom: 1px solid aliceblue;
}

.ending-final-title {
    background: #DB534B;
    padding: 5px 20px;
    font-size: 19px;
}

.btn-blue {
    background: #3b5998;
}

.btn-yellow {
    background: #f7a600;
}

.result-menu {
    max-width: 400px;
    margin:0 auto;
}
