<!doctype html>
<html ng-app="game">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="js/controller.js"></script>
    <link rel="stylesheet" href="css/game.css">
  </head>
  <body>
  <div class="header">
      <span class="header-logo">人生百味</span>
      <span class="header-team">製作團隊</span>
  </div>
  
  
  <div class="scene game-start">
      <h1>街頭創業家的一天</h1>
      <p>十字路旁單薄的叫賣身影，你是否已習以為常？<br/>
不知經過幾個年頭，這樣的身影撐起一個家庭，或至少希望獨立賺取應得溫飽。<br/>
 其中人生百萬種滋味和心路故事，每天只是路過是無法了解的。<br/>
 透過角色扮演的遊戲，希望帶著大家一起走入街頭創業家的日常，了解街頭販售的生活，打破隔閡點亮街頭。</p>
 <form action="">
     <input type="text" placeholder="你的大名" name="" id="">
     <button type="submit">登計創業</button>
     </form>
  </div>
  
  
  
  <div class="scene playing" ng-controller="MainCtrl as scene" >
     問題 : {{ scene.data.description }}
     <div class="option" ng-repeat="option in scene.data.options">
        <a class="option" href="javascript:void(0);" ng-click="scene.next(option)">
            <span class="option-index">{{option.name}}</span>
            <span class="option-value">{{option.value}}</span>
        </a>
     </div>
     <div class="score">積分 = {{scene.score}}</div>
  
  
  <div class="scene final">
      <h2>information</h2>
      <div ng-repeat="select in scene.selected">
            <span class="select-index">{{select.option.name}}</span>
            <span class="select-value">{{select.option.value}}</span>
            <span class="select-am">{{select.option.addormulti}}</span>
            <span class="select-score">{{select.option.score}}</span>
            <div class="information">
                {{select.information}}
            </div>
     </div>
  </div>
  
  </div>
  
  </body>
</html>