<!doctype html>
<html ng-app="game">
  <head>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-sanitize.js"></script>
    <script src="js/data.js"></script>
    <script src="js/controller.js"></script>
    <link rel="stylesheet" href="css/game.css">
  </head>
  <body ng-controller="MainCtrl as scene">
  <div class="header">
      <span class="header-item header-logo">人生百味</span>
      <span class="header-item header-team">製作團隊</span>
  </div>
  
  
  <div class="scene game-start" ng-if="scene.state=='ready'">
      <h1>街頭創業家的一天</h1>
      <p>十字路旁單薄的叫賣身影，你是否已習以為常？<br/>
不知經過幾個年頭，這樣的身影撐起一個家庭，或至少希望獨立賺取應得溫飽。<br/>
 其中人生百萬種滋味和心路故事，每天只是路過是無法了解的。<br/>
 透過角色扮演的遊戲，希望帶著大家一起走入街頭創業家的日常，了解街頭販售的生活，打破隔閡點亮街頭。</p>
 <form ng-submit="scene.start()" >
     <input type="text" placeholder="你的大名" name="" id="" ng-model="scene.name">
     <input type="submit" id="submit" value="登記創業" />
     </form>
  </div>
  
  
  <!--選項-->
  <div class="scene question"  ng-if="scene.state=='question'">
    <div class="question-set">
        <div class="question-content">
         {{ scene.data.name}}. {{ scene.data.description }}
         </div>
         <div class="triangle"></div>
         <div class="options" ng-style="optionsStyle">
             <div class="option" ng-repeat="option in scene.data.options">
                <a href="javascript:void(0);" ng-click="scene.select(option)">
                   <div class="option-img">
                       <img src="{{option.img}}" class="img-sm"/>
                       <img src="{{option.rwd_img}}" class="img-lg"></img>
                   </div>
                    <div class="option-text">{{option.name}}.{{option.value}}</div>
                </a>
             </div>
        </div>
    </div>
  </div>
  

  <!--選擇選項後出現的說明-->
  <div class="scene answer-information"  ng-if="scene.state=='answer-information'">
    <!--要改classname-->
    <div class="answer-set">
       <div class="answer-info">
           <div class="answer-info-header">
               <div class="answer-score">
                   創業積分
               </div>
               <div class="answer-selection">
                   <span class="answer-select">
                       {{scene.last_selected_option.value}}
                   </span>
                   <span class="answer-point">
                       {{scene.last_selected_option.addormulti}}{{scene.last_selected_option.score}}
                   </span>
               </div>
           </div>
           <div class="answer-info-content" ng-style="answerInfoContentStyle">
               <img src="{{scene.last_selected_option.img}}" />
               <div class="option-text">{{scene.last_selected_option.name}}.{{scene.last_selected_option.value}}</div>
           </div>
       </div>
        <div class="answer-content" >
        <p ng-bind-html="scene.data.information"></p>
         </div>
         
         <div class="next">
                <a class="next" href="javascript:void(0);" ng-click="scene.next()">
                  NEXT
                </a>
                </div>
             </div>
        </div>
     <div class="score">積分 = {{scene.score}}</div>

  <!--結局-->
  <div class="scene final" ng-if="scene.state=='ending'">
      <h2>結果頁</h2>
      <div ng-repeat="select in scene.selected">
            <span class="select-index">{{select.option.name}}</span>
            <span class="select-value">{{select.option.value}}</span>
            <span class="select-am">{{select.option.addormulti}}</span>
            <span class="select-score">{{select.option.score}}</span>
            <div class="information" ng-html="select.information">
            </div>
      </div>
  </div>
  
  
  
  </body>
</html>